{# https://github.com/William-Yeh/ansible-prometheus/blob/master/templates/node_exporter.service.j2 #}

[Unit]
Description=Prometheus Node Exporter
Documentation=https://gitlab.cyverse.org/core-services/ansible-cso-monitoring
After=network.target

[Service]
Restart=on-failure
User={{ PROMETHEUS_NODE_EXPORTER_USER }}
Group={{ PROMETHEUS_NODE_EXPORTER_GROUP }}

ExecStart= {{ PROMETHEUS_NODE_EXPORTER_DIRS.PROMETHEUS_BINARIES_DIR }}/{{ PROMETHEUS_NODE_EXPORTER_DIR_NAME }}/node_exporter \
    --collector.textfile.directory {{ PROMETHEUS_NODE_EXPORTER_DIRS.PROMETHEUS_TEXTFILE_COLLECTOR_DIR }} {% if PROMETHEUS_NODE_EXPORTER_CUSTOM_OPTS is defined %}\
    {{ PROMETHEUS_NODE_EXPORTER_CUSTOM_OPTS }} {% endif %}

[Install]
WantedBy=multi-user.target
